.about-us {
  width: 100%;
  position: relative;
  padding-left: 245px;
  padding-right: 84px;

  &::before {
    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("../img/date-desktop@2x.png");
      background-size: 243px auto;
    }
    position: absolute;
    display: block;
    content: "";
    width: 220px;
    height: 317px;
    top: 5px;
    left: 35px;
    background-image: url("../img/date-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about-us h2 {
  @include style-reset;
  @include font-style(36px, 51px, 400, #666666);
  font-family: $second-font;
  display: block;
  margin-bottom: 21px;
}

.about-us p {
  @include style-reset;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 39px;
  }
}

.about-us__invisible {
  display: inline;
}

.about-us__dots {
  display: none;
}

@media ($breakpoints-large) {
  .about-us {
    padding-left: 221px;
    padding-right: 18px;

    &::before {
    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("../img/date-tablet@2x.png");
      background-size: 243px auto;
    }
      width: 223px;
      height: 347px;
      top: 6px;
      left: 20px;
      background-image: url("../img/date-tablet@1x.png");
    }
  }

  .about-us h2 {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 25px;
  }

  .about-us__invisible {
    display: none;
  }

  .about-us__dots {
    display: inline;
  }

  .about-us p:last-of-type {
    margin-bottom: 41px;
  }
}

@media ($breakpoints-medium) {
  .about-us {
    padding-left: 17px;
    padding-right: 10px;

    &::before {
      display: none;
    }
  }

  .about-us h2 {
    margin-left: -3px;
    margin-bottom: 22px;
    font-size: 28px;
  }

  .about-us p {
    margin-bottom: 39px;
  }

  .about-us p:last-of-type {
    margin-bottom: 28px;
  }
}
