.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: max-height 0.4s ease 0s;
}

.address__title-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  padding-left: 3px;
}

.address__title {
  @include style-reset;
  @include font-style(15px, 16px, 400, #1b2d37);
  font-family: $second-font;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.address__min-button {
  display: none;
}

.address__tel-list {
  @include default-list;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.address a {
  @include style-reset;
  @include font-style(15px, 25px, 400, #8b9399);
  transition: opacity 0.2s ease 0s;

  &:hover,
  &:focus {
    color: #1b2d37;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.address__address-description {
  @include style-reset;
  @include font-style(15px, 25px, 400, #8b9399);
}

@media ($breakpoint-medium) {
  .address {
    overflow: hidden;

    &--close {
      max-height: 74px;
    }
  }

  .address__title-container {
    justify-content: space-between;
    margin-bottom: 28px;
    padding-left: 0;
  }

  .address__address-description {
    min-height: 50px;
    padding-right: 40px;
  }

  .address__title {
    padding-right: 0;
    min-height: auto;
  }

  .address__min-button {
    display: block;
    transition: background ease 0.2s 0s, transform ease 0.2s 0s;
  }

  .address__tel-list {
    margin-bottom: 25px;
  }

  .address--close .address__min-button::after {
    transform: rotate(90deg) translateY(-50%);
  }
}
