.advantages {
  width: 100%;
  padding-left: 25px;
  padding-right: 16px;
}

.advantages__list {
  @include default-list;
  width: 100%;
  min-height: 628px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.advantages__item {
  width: 46.72%;
  max-width: 570px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.advantages a {
  @include style-reset;
  display: block;
  width: 100%;
  min-height: 299px;
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  transition: border 0.2s ease 0s, background 0.2s ease 0s;
  padding: 40px 42px 5px 42px;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: #00b2ff;
    border-color: #00b2ff;
  }

  &:hover svg,
  &:focus svg {
    fill: #ffffff;
  }

  &:hover h3,
  &:focus h3,
  &:hover p,
  &:focus p {
    color: #ffffff;
  }
}

.advantages__item--detective a {
  padding-top: 43px;
}

.advantages svg {
  display: block;
  fill: #00b2ff;
  transition: fill 0.2s ease 0s;
  margin-right: auto;
  margin-bottom: 19px;
}

.advantages h3 {
  @include style-reset;
  @include font-style(24px, 34px, 400, #00b2ff);
  font-family: $second-font;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.advantages__item--detective h3 {
  margin-bottom: 16px;
}

.advantages p {
  @include style-reset;
  @include font-style(16px, 22px, 400, #666666);
  display: block;
  width: 100%;
  margin-bottom: 15px;
  word-wrap: break-word;
}

@media ($breakpoints-large) {
  .advantages {
    padding-left: 25px;
    padding-right: 16px;
  }

  .advantages__list {
    min-height: auto;
    align-items: stretch;
  }

  .advantages__item {
    width: 47.45%;
    margin-right: 29px;
    margin-bottom: 30px;
  }

  .advantages a {
    min-height: auto;
    height: 100%;
    border-left: 2px solid #00b2ff;
    padding: 24px 22px 6px 26px;
  }

  .advantages__item--detective a {
    padding-top: 26px;
    padding-right: 10px;
    padding-bottom: 36px;
  }

  .advantages svg {
    margin-bottom: 7px;
  }

  .advantages__item--hired svg {
    width: 31.72px;
    height: 32.18px;
  }

  .advantages__item--detective svg {
    width: 30.31px;
    height: 26.1px;
    margin-bottom: 11px;
  }
  
  .advantages__item--tag svg {
    width: 32.18px;
    height: 32.18px;
    margin-bottom: 10px;
  }

  .advantages h3 {
    margin-bottom: 8px;
  }

  .advantages__item--detective h3 {
    margin-bottom: 16px;
  }

  .advantages p {
    margin-bottom: 15px;
  }
}

@media ($breakpoints-medium) {
  .advantages {
    padding-left: 14px;
    padding-right: 14px;
  }

  .advantages__list {
    min-height: auto;
    align-items: center;
  }

  .advantages__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .advantages a {
    min-height: auto;
    height: 100%;
    border-left: 2px solid #00b2ff;
    padding: 25px 22px 10px 26px;
  }

  .advantages__item--detective a {
    padding-top: 25px;
    padding-right: 22px;
    padding-bottom: 10px;
  }

  .advantages svg {
    margin-bottom: 12px;
  }

  .advantages__item--hired svg {
    width: 31.61px;
    height: 32.18px;
  }

  .advantages__item--detective svg {
    width: 30.2px;
    height: 26.1px;
    margin-bottom: 16px;
  }
  
  .advantages__item--tag svg {
    width: 32.18px;
    height: 32.18px;
    margin-bottom: 12px;
  }

  .advantages h3 {
    font-size: 20px;
    line-height: 140.62%;
    margin-bottom: 8px;
  }

  .advantages__item--detective h3 {
    margin-bottom: 16px;
  }

  .advantages p {
    margin-bottom: 15px;
  }
}
