.logo {
  @include style-reset;
  width: 202px;
  min-height: 52px;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease 0s;
}

.logo[href] {
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover svg,
  &:focus svg {
    fill: #ffffff;
  }

  &:hover span,
  &:focus span {
    color: #ffffff;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo svg {
  width: 52px;
  height: 52px;
  margin-right: 16px;
  fill: #00b2ff;
  transition: fill 0.2s ease 0s;
  flex-shrink: 0;
}

.logo__text {
  @include style-reset;
  width: 134px;
  min-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 11px;
}

.logo b {
  @include font-style(25px, 29px, 700, #ffffff);
  font-family: $second-font;
  display: block;
  width: 100%;
  min-width: 0;
  word-wrap: break-word;
  margin-bottom: 1px;
}

.logo span {
  @include font-style(12px, 14px, 500, #788891);
  font-family: "Roboto", "Arial", sans-serif;
  display: block;
  width: 100%;
  min-width: 0;
  word-wrap: break-word;
  transition: color 0.2s ease 0s;
}

.logo--footer {
  width: 230px;
}

.logo--footer[href] {
  &:hover svg,
  &:focus svg {
    fill: #203c42;
  }

  &:hover span,
  &:focus span {
    color: #203c42;
  }
}

.logo--footer b {
  width: 152px;
  color: #203c42;
}

@media ($breakpoint-medium) {
  .logo {
    width: 38px;
    min-height: 38px;

    &--footer {
      width: 214px;
    }
  }

  .logo svg {
    width: 38px;
    height: 38px;
    margin-right: 0;
  }

  .logo--footer svg {
    width: 52px;
    height: 52px;
    margin-right: 14px;
  }

  .logo__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .logo--footer .logo__text {
    position: static;
    width: 154px;
    height: auto;
    margin: 0;
    min-height: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 11px;
  }
}
