.main-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/triange-gray.svg"), url("../img/triangle-alipce-gray.svg"), url("../img/triangle-alipce-gray-rotate.svg"), url("../img/triange-gray-rotate.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 202px top 45px, top 38% left 53.2%, bottom -55px left 0, top 396px right 28px;
  padding-top: 112px;
  padding-bottom: 110px;
}

.main-info__advantages {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.main-info__about-us {
  max-width: 1300px;
  margin: 0 auto;
}

@media ($breakpoints-large) {
  .main-info {
    padding-top: 53px;
    padding-bottom: 83px;
  }

  .main-info__advantages {
    margin-bottom: 26px;
  }
}

@media ($breakpoints-medium) {
  .main-info {
    padding-top: 37px;
    padding-bottom: 66px;
  }

  .main-info__advantages {
    margin-bottom: 37px;
  }
}
