.main-info {
  width: 100%;
  min-height: 1260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 112px;
  padding-bottom: 90px;
}

.main-info__advantages {
  max-width: 1261px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.main-info__about-us {
  max-width: 1300px;
  margin: 0 auto;
}

@media ($breakpoints-large) {
  .main-info {
    min-height: 1056px;
    padding-top: 53px;
  }

  .main-info__advantages {
    margin-bottom: 28px;
  }
}