.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav__logo {
  flex-shrink: 0;
  margin-top: 28px;
  margin-right: 8.2%;
  margin-bottom: auto;
}

.main-nav__toggle {
  @include style-reset;
  display: block;
  width: 37px;
  height: 13px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease 0s;
  margin-top: 53px;
  margin-right: auto;
  margin-bottom: auto;

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    left: 0;
    right: 0;
    transition: background 0.2s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: #788891;
  }
}

.main-nav__user-nav {
  min-width: 360px;
  width: 30.5%;
  margin-top: 50px;
  margin-right: 3.5%;
  margin-bottom: auto;
}

.main-nav__button {
  flex-shrink: 0;
  margin-top: 37px;
  margin-bottom: auto;
}

@media ($breakpoints-large) {
  .main-nav__logo {
    margin-right: auto;
    margin-top: 15px;
  }

  .main-nav__toggle {
    margin-top: 37px;
    margin-right: 37px;
  }

  .main-nav__user-nav {
    min-width: auto;
    flex-shrink: 0;
    width: 77px;
    margin-right: 7px;
    margin-top: 32px;
  }

  .main-nav__button {
    display: none;
  }
}

@media ($breakpoints-medium) {
  .main-nav__logo {
    margin-top: 17px;
  }

  .main-nav__toggle {
    margin-top: 27px;
    margin-right: 27px;
  }

  .main-nav__user-nav {
    width: 67px;
    margin-right: 5px;
    margin-top: 22px;
  }
}
