.page-footer {
  width: 100%;
  background-color: #fafafa;
}

.page-footer__main-form {
  width: 100%;
}

.page-footer__main-content {
  width: 100%;
}

.page-footer__copyright-content {
  width: 100%;
  border-top: 1px solid #626962;
}

.page-footer__copyright {
  min-height: 51px;
}

.page-footer__content-container {
  width: 100%;
  max-width: 1446px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: 59px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 34px;

  &--copyright {
    padding-top: 0;
    align-items: center;
  }
}

.page-footer__rules {
  @include style-reset;
  @include font-style(13px, 24px, 400, #1b2d37);
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 0.04em;
  display: none;
}

.page-footer__social-container {
  width: 217px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  margin-right: auto;
}

.page-footer__logo {
  margin-bottom: 47px;
}

.page-footer__site-nav {
  width: 35%;
  margin-right: auto;
  margin-top: 5px;
  margin-left: 46px;
}

.page-footer__adress {
  width: 24.3%;
  padding-left: 8px;
}

@media ($breakpoints-large) {
  .page-footer__main-content {
    padding-bottom: 38px;
  }

  .page-footer__content-container {
    flex-wrap: wrap;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;

    &--copyright {
      padding-top: 0;
    }
  }

  .page-footer__rules {
    &--top {
      display: block;
    }
  }

  .page-footer__social-container {
    width: 100%;
    min-height: 97px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #626962;
    padding-left: 34px;
    padding-right: 15px;
    margin-right: 0;
    margin-bottom: 39px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__site-nav {
    width: 45%;
    margin-right: auto;
    margin-top: 0;
    margin-left: 37px;
    flex-shrink: 0;
  }

  .page-footer__adress {
    width: 45%;
    padding-left: 0;
    transform: translateY(-5px) translateX(-14px);
  }

  .page-footer__copyright {
    min-height: 64px;
    padding-left: 36px;
    padding-right: 15px;
  }
}

@media ($breakpoints-medium) {
  .page-footer__main-content {
    padding-top: 41px;
    padding-bottom: 0;
  }

  .page-footer__social-container {
    width: 100%;
    min-height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #626962;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .page-footer__logo {
    margin-bottom: 20px;
  }

  .page-footer__rules {
    display: block;
    margin-bottom: 32px;
  }

  .page-footer__social-list {
    margin-bottom: 48px;
  }

  .page-footer__site-nav {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    padding: 29px 17px 0 15px;
  }

  .page-footer__adress {
    width: 100%;
    transform: none;
    border-top: 1px solid #626962;
    padding: 29px 17px 0 15px;
  }

  .page-footer__copyright {
    min-height: auto;
    padding: 27px 10px 26px 10px;
  }
}
