.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 57px;
  padding-left: 26px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 705px;
    height: 515px;
    top: 0;
    right: -21px;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat;
    background-position: left -1012px top -260px;
  }
}

.promo__picture img {
  display: block;
  height: 515px;
  width: 705px;
  position: absolute;
  top: -2px;
  right: -47px;
  z-index: 1;
}

.promo h1 {
  @include style-reset;
  @include font-style(80px, 94px, 700, #ffffff);
  position: relative;
  font-family: $second-font;
  min-width: 0;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-bottom: 25px;
  word-wrap: break-word;
  z-index: 2;
}

.promo__text-block {
  position: relative;
  margin-bottom: 44px;
  width: 705px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.promo__text-block span {
  @include style-reset;
  display: block;
  width: 66px;
  height: 2px;
  background-color: #ffffff;
  margin-right: 30px;
  transform: translateY(-16px) translateX(2px);
}

.promo p {
  @include style-reset;
  @include font-style(22px, 34px, 400, #ffffff);
  width: 611px;
  min-width: 0;
  word-wrap: break-word;
}

.promo__button {
  position: relative;
  margin-left: 96px;
  margin-bottom: 131px;
  z-index: 2;
}

.promo__additional-info {
  @include style-reset;
  font-size: 14px;
  line-height: 16px;
  color: #8f969a;
  width: 93px;
  flex-shrink: 0;
  transform: rotate(-90deg) translateX(-36px);
  opacity: 0.5;
  transition: color 0.2s ease 0s;

  &:hover,
  &:focus {
    color: #ffffff;
  }

  &:active {
    color: #545b5f;
  }
}

@media ($breakpoint-large) {
  .promo {
    padding-top: 60px;
    padding-left: 97px;

    &::before {
      right: -290px;
      top: -60px;
      width: 653px;
      height: 406px;
      background-repeat: no-repeat;
      background-position: left -971px top -200px;
      background-size: 1920px 694px;
    }
  }

  .promo__picture img {
    height: 340px;
    width: 260px;
    right: -11px;
    top: -16px;
  }

  .promo h1 {
    width: 500px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 29px;
  }

  .promo__text-block {
    width: 600px;
    margin-bottom: 56px;
  }

  .promo p {
    width: 480px;
    font-size: 18px;
    line-height: 27px;
  }

  .promo__text-block span {
    width: 33px;
    margin-right: 18px;
    transform: translateY(-11px) translateX(3px);
  }

  .promo__button {
    position: relative;
    margin-left: 51px;
    margin-bottom: 131px;
    z-index: 1;
  }

  .promo__additional-info {
    display: none;
  }
}

@media ($breakpoint-medium) {
  .promo {
    padding-top: 217px;
    padding-left: 0;

    &::before {
      right: -464px;
      top: -12px;
      width: 653px;
      height: 406px;
      background-repeat: no-repeat;
      background-position: left -977px top -193px;
      background-size: 1920px 666px;
    }
  }

  .promo__picture img {
    height: 220px;
    width: 294px;
    max-width: none;
    top: 23px;
    right: -15px;
  }

  .promo h1 {
    width: 228px;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 27px;
  }

  .promo__text-block {
    margin-bottom: 40px;
  }

  .promo p {
    font-size: 16px;
    line-height: 25px;
    width: 272px;
  }

  .promo__text-block span {
    width: 33px;
    margin-right: 17px;
    transform: translateY(-22px) translateX(1px);
  }

  .promo__button {
    margin: 0 auto;
  }
}
