.site-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: max-height 0.4s ease 0s;
}

.site-nav__title-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.site-nav__title {
  @include style-reset;
  @include font-style(15px, 16px, 400, #1b2d37);
  font-family: $second-font;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: 4px;
}

.site-nav__min-button {
  display: none;
}

.site-nav__list {
  @include default-list;
  width: 100%;
  height: 124px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-nav a {
  @include style-reset;
  @include font-style(15px, 25px, 400, #8b9399);
  transition: opacity 0.2s ease 0s;
  padding-right: 10px;

  &:hover,
  &:focus {
    color: #1b2d37;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

@media ($breakpoint-large) {
  .site-nav__title-container {
    margin-bottom: 24px;
  }

  .site-nav__title {
    margin-left: 0;
  }

  .site-nav__min-button {
    display: none;
  }

  .site-nav__list {
    height: auto;
    flex-wrap: nowrap;
    margin-left: -3px;
  }
}

@media ($breakpoint-medium) {
  .site-nav {
    overflow: hidden;

    &--close {
      max-height: 74px;
    }
  }

  .site-nav__title-container {
    margin-bottom: 28px;
    justify-content: space-between;
  }

  .site-nav__min-button {
    display: block;
    transition: background ease 0.2s 0s, transform ease 0.2s 0s;
  }

  .site-nav__list {
    margin-bottom: 15px;
  }

  .site-nav--close .site-nav__min-button::after {
    transform: rotate(90deg) translateY(-50%);
  }
}
