.user-nav {
  @include default-list;
  min-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.user-nav__item a {
  @include style-reset;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s ease 0s;
  padding-left: 40px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background 0.2s ease 0s;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover svg,
  &:focus svg {
    fill: #ffffff;
  }
}

.user-nav__item {
  flex-shrink: 0;

  &--email a::before {
    width: 19px;
    height: 14px;
    background-image: url("../img/email.svg");
  }

  &--tel a::before {
    width: 19px;
    height: 20px;
    left: 6px;
    background-image: url("../img/phone.svg");
  }
}

.user-nav__item--email a:hover::before {
  background-image: url("../img/email-white.svg");
}

.user-nav__item--tel a:hover::before {
  background-image: url("../img/phone-white.svg");
}

.user-nav__item span {
  @include font-style(16px, 18px, 400, #ffffff);
  flex-shrink: 0;
  min-width: 0;
  word-wrap: break-word;
}

@media ($breakpoints-large) {
  .user-nav__item {
    &--email svg {
      width: 25.33px;
      height: 18.67px;
    }

    &--tel svg {
      width: 24px;
      height: 24px;
      margin-right: 0;
    }

    &--email {
      width: 25.33px;
      height: 18.67px;
    }

    &--tel {
      width: 24px;
      height: 24px;
    }
  }

  .user-nav__item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .user-nav__item--email a::before {
    width: 25.33px;
    height: 18.67px;
    background-size: 25.33px 18px;
  }

  .user-nav__item--tel a::before {
    width: 24px;
    height: 24px;
  }

  .user-nav__item span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
