$primary-font: "PT Mono", "Courier New", monospace;
$primary-font-size: 16px;
$primary-font-weight: 400;
$primary-font-line-height: 22px;
$primary-font-color: #666666;

$second-font: "Roboto Condensed", "Arial", sans-serif;
$second-font-color: #ffffff;

$primary-bg-color: #00b2ff;
$second-bg-color: #1b2d37;

$breakpoints-medium:"max-width: 767px";
$breakpoints-large:"max-width: 1023px";

$max-width: 1920px;

$retina: (
  "dpi": 144dpi,
  "dppx": 1.5dppx,
);
